<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.WPF.4.5.2" publicKeyToken="2aa4ec5576d6c3ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.20202.708" newVersion="4.5.20202.708" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>